{% extends "layout.html" %}
{% import "macro/tests.html" as cm with context %}
{% from "macro/forms.html" import input, radio, radios, select, options, modal, calendar, calendar3 %}


<!-- Try This-->
{% block trythis %}
  
  {{calendar3(monthList, year)}}

  <hr>

  <p> 오늘 {{today | simpledate | safe}}</p>
  
  <hr>

  <form class="container">
    <div class="form-group">
        {{radio('r1', 'rdo', 'val1', 'Value1')}}
        {{radio('r2', 'rdo', 'val2', 'Value2', "checked")}}
        {{radio('r3', 'rdo', 'val3', 'Value3')}}
    </div>

    {{radios(radioList)}}
    <hr>
    {{select(optionList)}}
    <hr>
  </form>

{% endblock trythis %}

<!-- macro Test-->
{% block macrotest %}

    <p>{{ttt}}{{ cm.test_macro1('TTTTTTTT1122333') }}</p>
    <p>{{ cm.test_macro1('QQQQQQQQQQQ') }}</p>

    {% call(x) cm.test_macro2('Hong', 'bbb') %}
        <p>This is app.html.call block: <strong>{{x}}</strong></p>
    {% endcall %}

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#momo1"> 모달 테스트 </button> 
    
    {% call modal('테스트 모달', 'momo1') %}
        <h3>Modal body</h3>
    {% endcall %} 

{% endblock macrotest%}

<!-- main-->
{% block main %}
  <h1 style="color:green;"> Flask Test {{Title}} {{mu}} </h1>

  <hr>
  <ul>
    {% for rank, title, name, hide, ref in lst2 recursive %}
    <li>
        {{loop.index}} - <small>{{title}}</small>: {{name}}
        {%- if ref -%}
            {% set outer_loop = loop %}
            {% for ref_song in ref %}
                <p>{{outer_loop.index}} - {{loop.index}} : {{ ref_song[1] }}</p>
            {% endfor %}
        {%- endif %}
    </li>
    {% endfor %}
  </ul>


  <hr>
    <ul>
      {% for nav in navis recursive %}
          <li>
              <a href={{nav.url | e}} >{{nav.title}}{{loop.depth}}</a>
              <ul class="{% if (loop.depth == 1) %}font-sm{% endif %}"> {{loop(nav.ref)}} </ul>
          </li>
      {% endfor %}
    </ul>

  <hr>
  <ul>
      {% for rank, title, name, hide, ref in lst2 recursive %}
          <li>
              {{title}}: {{name}}
              <ul class="sub">{{ loop(ref) }}</ul>
              {% if loop(ref) %}
              {% endif %}
          </li>
      {% endfor %}
    </ul>

  <hr>

  <ul>
    {% for item in lst %}
        <li>{{item[0]}}: {{item[1]}}</li>
    {% endfor %}

    {% for title, name, isShow in lst if isShow %}
        <li class="{{loop.cycle('aaa', 'bbb')}}" > {{title}}: {{name}} - {{loop.depth}}</li>
    {% endfor %}
  </ul>
   

  <pre>

    {{ "<strong>Strong</strong>" | safe}}
    {{ "<strong>Strong</strong>" | striptags}}

    {% raw %}
    {% if True  %}
          TTT
    {% endif %}
    {% endraw %}

  </pre>

{% endblock main %}