{% extends "melon_layout.html" %}

{% block main %}
  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" href="#" target="_self">
        <strong>MelTop</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#dailyList" target="_self">Top 100</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://mdbootstrap.com/docs/jquery/getting-started/download/" target="_self">Album</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://mdbootstrap.com/education/bootstrap/" target="_self">Artist</a>
          </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="https://www.facebook.com/mdbootstrap" class="nav-link" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://twitter.com/MDBootstrap" class="nav-link" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link border border-light rounded" data-toggle="modal" data-target="#modalLoginForm">
              <i class="fas fa-user-circle mr-2 text-center"></i>sign in
            </a>
          </li>
        </ul>

      </div>

    </div>
  </nav>
  <!-- Navbar -->

  <!--Carousel Wrapper-->
  <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">

  
    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">
        <div class="view" style="background-image: url('../static/img/melon222.png'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-green-slight d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>MelTop</strong>
              </h1>
              <img src="../static/img/melon_PNG14382.png" class="melonpng" >
              <p>
                <strong>melon의 일간 Top 100 list를 제공합니다.</strong>
              </p>

              <br>
      
              <a href="" class="btn btn-outline-white btn-lg" data-toggle="modal" data-target="#modalLoginForm">Sign in
                <i class="fas ml-1"></i>
              </a>
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/First slide-->

    </div>
    <!--/.Slides-->
  

  </div>
  <!--/.Carousel Wrapper-->

  <!--Main layout-->
  <main>
    <div class="container">

      <hr class="my-5">

      <!--Section: Main features & Quick Start-->
      <section id="dailyList" >
      
        <h3 class="h3 text-center mb-3">일간 Top 100</h3>

        <div class="text-center">
        <select class="custom-select text-center mb-5" style="width : 13rem;" >
        <!--TODO 날짜 선택 박스 디폴트 값 '오늘'로 설정하기 -->
        <option selected>2019년 2월 13일 (수) </option>
        <option value="1">2019년 2월 12일 (화)</option>
        <option value="2">2019년 2월 11일 (월)</option>
        <option value="3">2019년 2월 10일 (일)</option>
        </select>
        </div>
        
        <!--Grid row-->
        <div class="row wow fadeIn">

          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">곡</th>
                <th scope="col">가수</th>
                <th scope="col">좋아요</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1위</th>
                <td>
                  <img src="../static/img/melon_img3.png" style="width:3.5rem;" ></img>
                </td>
                <td>벌써 12시</td>
                <td class="grey-text">청하</td>
                <td class="grey-text">
                  <i class="far fa-heart"></i>
                  213493
                </td>
              </tr>
              <tr>
                <th scope="row">2위</th>
                <td>
                  <img src="../static/img/melon_img1.png" style="width:3.5rem;" ></img>
                </td>
                <td>초록빛</td>
                <td class="grey-text">폴킴</td>
                <td class="grey-text">
                  <i class="far fa-heart"></i>
                  11234
                </td>
              </tr>
              <tr>
                <th scope="row">3위</th>
                <td>
                  <img src="../static/img/melon_img5.png" style="width:3.5rem;" ></img>
                </td>
                <td >띵</td>
                <td class="grey-text">Jvcki Wai, 영비 (Young B), Osshun Gum, 한요한</td>
                <td class="grey-text">
                  <i class="far fa-heart"></i>
                  34555
                </td>
              </tr>
            </tbody>
          </table>


        </div>
        <!--/Grid row-->

      </section >  


    </div>
  </main>
  <!--Main layout-->

{% endblock main %}
