<td></td>
<td></td>
<!--albuminfo-->
<td>
    <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>앨범명 :</strong> {{song.album.album_name}}</li>
    <li class="list-group-item"><strong>앨범 타입 :</strong> {{song.album.type}} </li>
    <li class="list-group-item"><strong>평점 : </strong>{{song.album.rate}}</li>
    <li class="list-group-item"><strong>앨범 좋아요 : </strong>{{song.album.album_likecnt}}</li>
    </ul>
</td>
<!--songinfo-->
    <td>
    <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>노래 장르 :</strong> {{song.genre}}</li>
    <li class="list-group-item"><strong>가수 :</strong> {{song.singer}}</li>
    <li class="list-group-item"><strong>발매일 : </strong>{{song.release_date | ymd2 }}</li>
    </ul>
</td>
<td></td>
<td></td>